:root {
    --purple:#666CA3;
    --black:#13183F;
    --gray:#83869A;
    --pink:#F74780;
    --lightpink:#FFA7C3;
    --HeadingXL:56px;
    --HeadingL:40px;
    --HeadingM:32px;
    --HeadingS:24px;
    --BodyM:18px;
    --BodyS:16px;

}